<button class="cart-button" data-trigger-overlay-toggle="cart" aria-label="Toggle cart">
  Cart<span data-cart-count></span>
</button>

<style>
  .cart-button {
    display: inline-flex;
    align-items: center;
    gap: 1ch;
    justify-self: end;
  }
</style>
