<cart-line-item-remove-button>
  <button type="button"></button>
</cart-line-item-remove-button>

<script>
  export class CartLineItemRemoveButtonElement extends HTMLElement {
    private button!: HTMLButtonElement;

    connectedCallback() {
      this.button = this.querySelector("button")!;
      this.button.setAttribute("aria-label", "Remove item from cart");
      this.button.addEventListener("click", this.onClick);
    }

    disconnectedCallback() {
      this.button.removeEventListener("click", this.onClick);
    }

    onClick = (event: MouseEvent) => {
      event.preventDefault();

      // Set removing state
      this.setAttribute("state", "removing");
      this.button.disabled = true;
      this.button.setAttribute("aria-label", "Removing item from cart");
      this.button.setAttribute("aria-busy", "true");

      this.dispatchEvent(
        new CustomEvent("cart-line:remove", {
          bubbles: true,
        })
      );
    };
  }

  customElements.define(
    "cart-line-item-remove-button",
    CartLineItemRemoveButtonElement
  );
</script>

<style>
  cart-line-item-remove-button button::before {
    content: "Remove";
  }

  cart-line-item-remove-button[state="removing"] button::before {
    content: "Removing...";
  }

  cart-line-item-remove-button[state="removing"] button {
    opacity: 0.5;
    cursor: wait;
  }
</style>
