---
import PriceDisplay from "@blocks/PriceDisplay.astro";
import QuantitySelector from "@blocks/QuantitySelector.astro";
---

<div data-cart-line-item>
  <span data-product-title></span>
  <span data-product-variant-title></span>
  <QuantitySelector />
  <div>
    <PriceDisplay variant="compare-at" data-price-compare-at />
    <PriceDisplay data-price />
  </div>
  <button type="button" data-cart-line-remove-button aria-label="Remove item from cart"></button>
</div>

<style>
  [data-cart-line-remove-button]::before {
    content: "Remove";
  }

  [data-cart-line-item][data-state="removing"] {
    opacity: 0.5;
    pointer-events: none;
  }

  [data-cart-line-item][data-state="removing"] [data-cart-line-remove-button]::before {
    content: "Removing...";
  }
</style>
