---
import QuantitySelector from "../QuantitySelector.astro";
---

<div data-line-item>
  <span data-title></span>
  <QuantitySelector />
  <span data-price></span>
  <button type="button" data-remove-button aria-label="Remove item from cart"
  ></button>
</div>

<style>
  [data-remove-button]::before {
    content: "Remove";
  }

  [data-line-item][data-state="removing"] {
    opacity: 0.5;
    pointer-events: none;
  }

  [data-line-item][data-state="removing"] [data-remove-button]::before {
    content: "Removing...";
  }
</style>
