---
import { PortableText as AstroPortableText } from "astro-portabletext";
import Mark from "@fields/portableTextComponents/Mark.astro";

interface Props {
  value: any;
  class?: string | undefined;
  style?: "default" | "large";
}

const { value, class: className, style = "default" }: Props = Astro.props;

const components = {
  mark: Mark,
};
---

<div class:list={["portable-text", className, style]}>
  <AstroPortableText value={value} components={components} />
</div>

<style is:global>
  .portable-text p,
  .portable-text li {
    margin-bottom: 0.5em;
  }
  .portable-text p:last-child,
  .portable-text li:last-child {
    margin-bottom: 0;
  }

  .portable-text li {
    padding-left: 2em;
  }

  .portable-text ul {
    margin-bottom: 1em;
  }
</style>
