---
import PortableText from "../fields/PortableText.astro";
import SanityLink from "../fields/SanityLink.astro";
import { sanityClient } from "sanity/client";
import type { FooterQueryQuery } from "sanity/generated/graphql";
import { footerQuery } from "sanity/queries/footer";
import { selectDocument } from "../lib/sanity/drafts";

const componentQuery: FooterQueryQuery =
  await sanityClient.request(footerQuery);
const footerData = selectDocument(componentQuery.allFooter);
---

<footer class:list={[{ hidden: Astro.url.pathname === "/" }]}>
  <PortableText value={footerData?.textRaw} />

  <div class="nav">
    {
      footerData?.navigationItems?.map((navigationItem) => {
        if (!navigationItem?.link) return null;
        return (
          <SanityLink linkData={navigationItem.link}>
            {navigationItem.label}
          </SanityLink>
        );
      })
    }
  </div>
</footer>

<style>
  footer {
    margin-top: var(--s200);
    padding: 0 var(--margin) var(--margin);
    display: flex;
    justify-content: space-between;
  }

  .nav {
    display: flex;
    flex-wrap: wrap;
    gap: var(--s8);
  }
</style>
