---
import PortableText from "@fields/PortableText.astro";
import SanityLink from "@fields/SanityLink.astro";
import SanityMedia from "@fields/SanityMedia.astro";
import { sanityClient } from "sanity/client";
import { footerQuery } from "sanity/queries/footer";

const footerQueryResult = await sanityClient.request(footerQuery);
const footerData = footerQueryResult.allFooter[0];
---

<footer>
  <div class="footer-content">
    <PortableText value={footerData.textRaw} />

    <div class="nav">
      {
        footerData.navigationItems?.map((navigationItem) => {
          if (!navigationItem?.link) return null;
          return <SanityLink linkData={navigationItem.link}>{navigationItem.label}</SanityLink>;
        })
      }
    </div>
  </div>

  <!-- <NewsletterSignup /> -->
</footer>

<div class="media">
  <div class="media-inner">
    <SanityMedia mediaData={footerData.mediaBackground} layout="width" />
  </div>
</div>

<style>
  footer {
    position: relative;

    margin: 0 auto;
    width: var(--container-width);
    padding: var(--s200) 0 0;
  }

  .media {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  .media-inner {
    width: 120%;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .nav {
    display: flex;
    flex-wrap: wrap;
    gap: var(--s8);
  }
</style>
