---
import PortableText from "@fields/PortableText.astro";
import SanityLink from "@fields/SanityLink.astro";
import { sanityClient } from "sanity/client";
import { footerQuery } from "sanity/queries/footer";

const footerQueryQuery = await sanityClient.request(footerQuery);
const footerData = footerQueryQuery.allFooter[0];
---

<footer>
  <div class="footer-content">
    <PortableText value={footerData.textRaw} />

    <div class="nav">
      {
        footerData.navigationItems?.map((navigationItem) => {
          if (!navigationItem?.link) return null;
          return <SanityLink linkData={navigationItem.link}>{navigationItem.label}</SanityLink>;
        })
      }
    </div>
  </div>

  <!-- <NewsletterSignup /> -->
  <p>
    Follow our <a
      class="text-link"
      href="https://www.instagram.com/digital.meadow/"
      target="_blank"
      rel="noopener noreferrer">Instagram</a
    >
  </p>
</footer>

<style>
  footer {
    margin: 0 auto;
    width: var(--container-width);
    padding: var(--s120) 0 var(--margin);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--s24);
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    gap: var(--s24);
  }

  .nav {
    display: flex;
    flex-wrap: wrap;
    gap: var(--s8);
  }
</style>
