---
import SanityLink from "../fields/SanityLink.astro";
import { sanityClient } from "sanity/client";
import type { HeaderQueryQuery } from "sanity/generated/graphql";
import { headerQuery } from "sanity/queries/header";
import { selectDocument } from "../lib/sanity/drafts";

const componentQuery: HeaderQueryQuery =
  await sanityClient.request(headerQuery);
const headerData = selectDocument(componentQuery.allHeader);
---

<header>
  <a href="/"> Template Ecommerce </a>

  <nav>
    {
      headerData?.navigationItems?.map((navigationItem) => {
        if (!navigationItem?.link) return null;
        return (
          <SanityLink linkData={navigationItem.link}>
            {navigationItem.label}
          </SanityLink>
        );
      })
    }
  </nav>
</header>

<style>
  header {
    width: 100%;
    padding: var(--margin) var(--margin);
    display: flex;
    justify-content: space-between;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    gap: var(--s8);
  }
</style>
