---
import SanityLink from "@fields/SanityLink.astro";
import { sanityClient } from "sanity/client";
import { headerQuery } from "sanity/queries/header";
import LogoSvg from "@svgs/logo.svg";
import LocaleSelector from "@blocks/LocaleSelector.astro";
import CartButton from "./cart/CartButton.astro";

const headerQueryQuery = await sanityClient.request(headerQuery);
const headerData = headerQueryQuery.allHeader[0];
---

<header>
  <div class="background"></div>

  <div class="locale-selector">
    <LocaleSelector />
  </div>

  <a class="logo" href="/">
    <LogoSvg />
  </a>

  <nav>
    {
      headerData.navigationItems?.map((navigationItem) => {
        if (!navigationItem?.link) return null;
        return (
          <div
            class:list={[
              "nav-item",
              {
                collection:
                  navigationItem.link?.type === "page" &&
                  navigationItem.link?.page?._type === "collection",
              },
            ]}
          >
            <SanityLink class:list={["text-link"]} linkData={navigationItem.link}>
              {navigationItem.label}
            </SanityLink>
          </div>
        );
      })
    }
  </nav>

  <div class="cart-button">
    <CartButton />
  </div>
</header>

<style>
  header {
    position: relative;
    z-index: 10;

    width: var(--container-width);
    height: 100%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: start;
    padding: var(--margin) 0 var(--s120);

    pointer-events: none;
  }

  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--s64);
    background-color: var(--color-background);
  }

  .locale-selector {
    position: sticky;
    top: var(--margin);
    pointer-events: auto;
  }

  .cart-button {
    position: sticky;
    top: var(--margin);
    justify-self: end;
    pointer-events: auto;
  }

  .logo {
    position: relative;

    grid-area: 1 / 2 / 2 / 3;
    justify-self: center;
    width: 48px;
    margin-bottom: var(--s24);
    pointer-events: auto;
  }

  nav {
    grid-area: 1 / 2 / 2 / 3;
    justify-self: center;

    position: sticky;
    top: var(--margin);

    margin-top: var(--s80);

    display: flex;
    flex-wrap: wrap;
    gap: var(--s16);
    pointer-events: auto;
  }
</style>
