---
import SanityLink from "@fields/SanityLink.astro";
import { sanityClient } from "sanity/client";
import { headerQuery } from "sanity/queries/header";
import LocaleSelector from "@blocks/LocaleSelector.astro";

const headerQueryQuery = await sanityClient.request(headerQuery);
const headerData = headerQueryQuery.allHeader[0];
---

<header>
  <a href="/"> Template Ecommerce </a>

  <nav>
    <LocaleSelector />

    {
      headerData.navigationItems?.map((navigationItem) => {
        if (!navigationItem?.link) return null;
        return <SanityLink linkData={navigationItem.link}>{navigationItem.label}</SanityLink>;
      })
    }

    <button data-trigger-overlay-toggle="cart" aria-label="Toggle cart">
      Cart<span data-cart-count></span>
    </button>
  </nav>
</header>

<script>
  import type { EventCartUpdated } from "@components/cart/Cart.astro.0.mts";
  import type { OverlayElement } from "@layouts/Overlay.astro.0.mjs";

  const cartCountElement = document.querySelector("[data-cart-count]") as HTMLElement;
  const cartOverlay = document.querySelector(`overlay-root[id="cart"]`) as OverlayElement | null;

  document.addEventListener("product:add-to-cart", () => {
    if (!cartOverlay) throw new Error("Cart overlay element not found");
    cartOverlay.open();
  });

  document.addEventListener("cart:updated", (e: Event) => {
    const eventCartUpdated = e as EventCartUpdated;
    cartCountElement.textContent = `(${eventCartUpdated.detail.count})`;
  });
</script>

<style>
  header {
    width: 100%;
    padding: var(--margin) var(--margin);
    display: flex;
    justify-content: space-between;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    gap: var(--s8);
  }
</style>
