:root {
  --vw: 1vw;
  --scrollbar: 0px;

  --s4: 4px;
  --s8: 8px;
  --s10: 10px;
  --s12: 12px;
  --s16: 16px;
  --s20: 20px;
  --s24: 24px;
  --s32: 32px;
  --s40: 40px;
  --s64: 64px;
  --s80: 80px;
  --s120: 120px;
  --s200: 200px;
  --s300: 300px;
  --s400: 400px;

  --number-of-columns: 16;
  --margin: 20px;
  --gutter: 20px;

  --container-max-width: 1400px;
  --container-width: min(calc((100 * var(--vw)) - (2 * var(--margin))), var(--container-max-width));

  --column: calc(
    (1 / var(--number-of-columns)) *
      (var(--container-width) - ((var(--number-of-columns) - 1) * (var(--gutter))))
  );
  --margin-dynamic: calc((100 * var(--vw) - var(--container-width)) / 2);
}

@media (max-width: 800px) {
  :root {
    --s16: 8px;
    --s24: 16px;
    --s32: 24px;
    --s40: 32px;
    --s64: 40px;
    --s80: 64px;
    --s120: 80px;
    --s200: 120px;
    --s300: 200px;
    --s400: 300px;
  }
}
