:root {
  --ease-out-cubic: cubic-bezier(0.33, 1, 0.68, 1);

  --transition-default-duration: 0.25s;
  --transition-default: var(--transition-default-duration) var(--ease-out-cubic);

  --transition-media-load-duration: 0.6s;
  --transition-media-load: var(--transition-media-load-duration)
    var(--ease-out-cubic);

  --transition-page-duration: 0.6s;
  --transition-page: var(--transition-page-duration) var(--ease-out-cubic);
}

main {
  view-transition-name: main;
}

header {
  view-transition-name: header;
}

footer {
  view-transition-name: footer;
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

::view-transition-old(main),
::view-transition-old(header),
::view-transition-old(footer) {
  animation: var(--transition-page) both fade-out;
  mix-blend-mode: plus-lighter;
}

::view-transition-new(main),
::view-transition-new(header),
::view-transition-new(footer) {
  animation: var(--transition-page) both fade-in;
  mix-blend-mode: plus-lighter;
}
