---
import type { SectionCollectionFragment } from "sanity/generated/graphql";
import { shopifyClient } from "shopify/client";
import { collectionByHandleQuery } from "shopify/queries/collection";
import {
  type ProductShopifySanity,
  fetchProductShopifySanity,
} from "../lib/fetches/productShopifySanity";
import ProductThumbnail from "../blocks/ProductThumbnail.astro";

interface Props {
  section: SectionCollectionFragment;
}

const { section }: Props = Astro.props;

if (!section.collection?.shopify?.handle?.current) {
  throw new Error("Collection handle is missing");
}

const shopifyCollection = await shopifyClient.request(collectionByHandleQuery, {
  handle: section.collection.shopify.handle.current,
});

const productHandles =
  shopifyCollection.collectionByHandle?.products.edges.map(
    (edge) => edge?.node?.handle
  ) || [];

let productsData: ProductShopifySanity[] = [];
for (const handle of productHandles || []) {
  const productData = await fetchProductShopifySanity(handle);
  productsData.push(productData);
}
---

<section>
  <h2>{section.collection?.shopify?.title}</h2>

  <div class="grid">
    {
      productsData.map((productData) => (
        <ProductThumbnail productData={productData} />
      ))
    }
  </div>
</section>

<style>
  section {
    padding: var(--s40) var(--margin-dynamic);
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: var(--s40);
    margin-top: var(--s40);
  }
</style>
