---
import type { SectionAccordionsFragment } from "sanity/generated/graphql";
import Accordion from "@layouts/Accordion.astro";
import PortableText from "@fields/PortableText.astro";

interface Props {
  section: SectionAccordionsFragment;
}

const { section }: Props = Astro.props;
---

<section>
  {
    section.accordions?.map((accordion) => {
      if (!accordion) return null;
      return (
        <div class="accordion">
          <Accordion group="default">
            <h2 slot="summary">{accordion.summary}</h2>
            <div class="content" slot="content">
              <PortableText value={accordion.contentRaw} />
            </div>
          </Accordion>
        </div>
      );
    })
  }
</section>

<style>
  section {
    width: var(--container-width);
    margin: var(--s120) auto var(--s64);

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .accordion {
    max-width: calc(6 * var(--column) + 5 * var(--gutter));
  }
</style>
