---
import type { SectionHeroFragment } from "sanity/generated/graphql";

interface Props {
  section: SectionHeroFragment;
}

const { section }: Props = Astro.props;
---

<section>
  <h1 data-text-fill-width>{section.heading}</h1>
</section>

<style>
  section {
    width: var(--container-width);
    margin: 0 auto;
    margin-top: var(--s200);
    margin-bottom: var(--s40);
  }
  @media (max-width: 1000px) {
    section {
      margin-top: calc(var(--s200) + var(--s24));
    }
  }
  @media (max-width: 500px) {
    section {
      margin-top: calc(var(--s200) + var(--s24));
    }
  }

  h1 {
    text-transform: uppercase;
  }
</style>
