---
import Media from "../primitives/Media.astro";
import PortableText from "../primitives/PortableText.astro";
import type { SectionHeroFragment } from "../sanity/generated/graphql";

interface Props {
  section: SectionHeroFragment;
}

const { section }: Props = Astro.props;
---

<section>
  <h1>{section.heading}</h1>

  <Media
    mediaData={section.backgroundMedia}
    layout="contain"
    sizes={[100, 100, 100]}
  />

  <PortableText value={section.textRaw} />
</section>
