---
import PortableText from "@fields/PortableText.astro";
import type { SectionTextFragment } from "sanity/generated/graphql";

interface Props {
  section: SectionTextFragment;
}

const { section }: Props = Astro.props;
---

<section>
  <PortableText value={section.textRaw} />
</section>

<style>
  section {
    width: var(--container-width);
    margin: 0 auto;
    padding: var(--s40) 0 var(--s120) 0;
    text-align: center;
  }
  @media (max-width: 500px) {
    section {
      padding: 0 0 var(--s80) 0;
    }
  }
</style>
