---
import SanityMedia from "@fields/SanityMedia.astro";
import type { ProductShopifySanity } from "@lib/fetches/productShopifySanity";

interface Props {
  productData: ProductShopifySanity;
}

const { productData }: Props = Astro.props;
---

<div class="product-gallery">
  <div class="media-item">
    <SanityMedia mediaData={productData.sanity.mediaThumbnail} layout="width" />
  </div>

  {
    productData.sanity.mediaGallery?.map((mediaItem) => (
      <div class="media-item">
        <SanityMedia mediaData={mediaItem} layout="width" />
      </div>
    ))
  }
</div>

<style>
  .product-gallery {
    width: 100%;
    display: grid;
    gap: var(--gutter);
  }

  .media-item {
    width: 100%;
  }
</style>
