---
import type { ProductShopifySanity } from "../../lib/fetches/productShopifySanity";
import QuantitySelector from "../../components/QuantitySelector.astro";
import Price from "../../components/Price.astro";
import ProductAddToCart from "./ProductAddToCart.astro";
import ProductVariantSelector from "./ProductVariantSelector.astro";
import ProductPrice from "./ProductPrice.astro";

interface Props {
  productData: ProductShopifySanity;
}

const { productData }: Props = Astro.props;
---

<div class="product-purchase" data-product-root>
  <h1>{productData.shopify?.title}</h1>
  <ProductVariantSelector productData={productData} />
  <ProductPrice />
  <QuantitySelector />
  <ProductAddToCart />
</div>
