---
import PriceDisplay from "../../blocks/PriceDisplay.astro";
---

<div class="product-price" data-product-price>
  <PriceDisplay variant="compare-at" data-price-compare-at />
  <PriceDisplay data-price />
</div>

<script>
  import type { PricesPerLocale } from "../../lib/fetches/productShopifySanity";
  import { getStoredLocale } from "../../lib/shopify/locale";
  import type { EventProductVariantChange } from "./ProductVariantSelector.astro.0.mts";

  function initialiseProductPrice(rootElement: HTMLElement) {
    const productRoot = rootElement.closest("[data-product-root]") as HTMLElement;
    if (!productRoot) throw new Error("ProductPrice: missing [data-product-root]");

    const priceElement = rootElement.querySelector("[data-price]") as HTMLElement;
    const compareAtElement = rootElement.querySelector("[data-price-compare-at]") as HTMLElement;

    const pricesPerLocale = JSON.parse(
      (productRoot as HTMLElement).dataset.prices!
    ) as PricesPerLocale;

    function handleVariantChange(event: EventProductVariantChange) {
      const { variantId } = event.detail;

      if (!variantId) throw new Error("ProductPrice: missing variantId in variant-change event");
      const locale = getStoredLocale();
      const priceData = pricesPerLocale[locale];
      const variant = priceData.variants.edges.find((edge) => edge.node.id === variantId)?.node;
      if (!variant)
        throw new Error(`ProductPrice: variant with ID ${variantId} not found in price data`);

      const { price, compareAtPrice } = variant;

      priceElement.setAttribute("amount", String(price.amount));

      if (compareAtPrice) {
        compareAtElement.setAttribute("amount", String(compareAtPrice.amount));
        compareAtElement.style.display = "";
      } else {
        compareAtElement.style.display = "none";
      }
    }

    productRoot.addEventListener("product:variant-change", handleVariantChange as EventListener);
    productRoot.dispatchEvent(new CustomEvent("product:request-variant-update", { bubbles: true }));
  }

  const rootElements = document.querySelectorAll("[data-product-price]");
  for (const rootElement of rootElements) {
    initialiseProductPrice(rootElement as HTMLElement);
  }
</script>
