---
import type { ProductShopifySanity } from "@lib/fetches/productShopifySanity";
import ProductAddToCart from "@sections/product/ProductAddToCart.astro";
import ProductVariantSelector from "@sections/product/ProductVariantSelector.astro";
import ProductPrice from "@sections/product/ProductPrice.astro";
import QuantitySelector from "@blocks/QuantitySelector.astro";

interface Props {
  productData: ProductShopifySanity;
}

const { productData }: Props = Astro.props;
---

<div class="product-purchase">
  <h1 data-text-fill-width>{productData.shopify?.title}</h1>
  <ProductVariantSelector productData={productData} />
  <ProductPrice />
  <QuantitySelector />
  <ProductAddToCart />
</div>

<style>
  .product-purchase {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--s16);
  }
</style>
