---
import type { ProductShopifySanity } from "@lib/fetches/productShopifySanity";
import ProductAddToCart from "@sections/product/ProductAddToCart.astro";
import ProductVariantSelector from "@sections/product/ProductVariantSelector.astro";
import ProductPrice from "@sections/product/ProductPrice.astro";
import QuantitySelector from "@blocks/QuantitySelector.astro";

interface Props {
  productData: ProductShopifySanity;
}

const { productData }: Props = Astro.props;
---

<div class="product-purchase">
  <h1 data-text-fill-width>{productData.shopify?.title}</h1>
  <ProductPrice />

  <div class="variant-selector">
    <ProductVariantSelector productData={productData} />
  </div>

  <div class="purchase">
    <ProductAddToCart />
    <QuantitySelector />
  </div>
</div>

<style>
  h1 {
    margin-bottom: var(--s20);
  }

  .variant-selector {
    margin-top: var(--s40);
  }

  .product-purchase {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .purchase {
    margin-top: var(--s40);
    display: flex;
    align-items: center;
    gap: var(--s24);
  }
</style>
