---
import type { ProductShopifySanity } from "@lib/fetches/productShopifySanity";
import ProductGallery from "@sections/product/ProductGallery.astro";
import ProductPurchase from "@sections/product/ProductPurchase.astro";

interface Props {
  productData: ProductShopifySanity;
}

const { productData }: Props = Astro.props;
---

<section data-product-root data-prices={JSON.stringify(productData.pricesPerLocale)}>
  <ProductGallery productData={productData} />
  <ProductPurchase productData={productData} />
</section>

<style>
  section {
    display: grid;
    gap: var(--s40);
    grid-template-columns: 1fr 1fr;
  }
</style>
