---
import SanityMedia from "@fields/SanityMedia.astro";
import type { ProductThumbnailShopifySanity } from "@lib/fetches/productShopifySanity";
import { resolveSanityHref } from "@lib/sanity/links";
import ProductPrice from "./ProductPrice.astro";

interface Props {
  productData: ProductThumbnailShopifySanity;
}

const { productData }: Props = Astro.props;
---

<a href={resolveSanityHref("product", productData.sanity.shopify!.handle!.current!)}>
  <article
    class="product-thumbnail"
    data-product-thumbnail
    data-product-root
    data-prices={JSON.stringify(productData.pricesPerLocale)}
  >
    <div class="media">
      <SanityMedia mediaData={productData.sanity.mediaThumbnail} layout="cover" />
    </div>
    <h3 class="title">{productData.shopify?.title}</h3>
    <div class="price">
      <ProductPrice />
    </div>
  </article>
</a>

<style>
  a {
    display: contents;
  }

  .product-thumbnail {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 1fr auto auto;

    transition: filter var(--transition-default);
  }

  :global(.hover-group:hover) .product-thumbnail {
    filter: grayscale(100%);
  }

  .product-thumbnail:hover {
    filter: grayscale(0%) !important;
  }

  .product-thumbnail.inactive {
    filter: grayscale(100%);
  }

  .media {
    width: 100%;
  }

  .title {
    margin-top: var(--s4);
  }
</style>
