<price-display {...Astro.props}>
  <span data-price-prefix></span>
  <span data-price-value></span>
</price-display>

<script>
  import { getCurrency, getStoredLocale } from "@lib/shopify/locale";

  export class PriceDisplayElement extends HTMLElement {
    private prefixElement!: HTMLSpanElement;
    private priceElement!: HTMLSpanElement;
    private locale!: string;
    private currency!: string;

    static observedAttributes = ["amount", "currency", "locale", "variant", "prefix"];

    connectedCallback() {
      this.prefixElement = this.querySelector("[data-price-prefix]")!;
      this.priceElement = this.querySelector("[data-price-value]")!;

      this.locale = this.getAttribute("locale") || getStoredLocale();
      this.currency = this.getAttribute("currency") || getCurrency();

      this.updatePrice();
    }

    attributeChangedCallback() {
      if (!this.prefixElement || !this.priceElement) return;
      this.updatePrice();
    }

    updatePrice() {
      const amount = this.getAttribute("amount");
      const currency = this.getAttribute("currency") || this.currency;
      const variant = this.getAttribute("variant");
      const prefix = this.getAttribute("prefix");

      const numericAmount = Number(amount || 0);

      this.setAttribute("data-variant", variant || "standard");

      this.prefixElement.textContent = prefix;
      this.dataset.prefixed = prefix ? "true" : "false";

      this.priceElement.textContent = new Intl.NumberFormat(this.locale, {
        style: "currency",
        currency: currency,
        currencyDisplay: "code",
      }).format(numericAmount);
    }
  }

  customElements.define("price-display", PriceDisplayElement);
</script>

<style>
  price-display {
    display: inline-flex;
    column-gap: 1ch;
  }

  price-display[data-variant="compare-at"] span {
    text-decoration: line-through;
    opacity: 0.7;
  }

  [data-price-prefix] {
    display: none;
  }

  price-display[data-prefixed]:not([data-prefixed="false"]) [data-price-prefix] {
    display: inline;
  }
</style>
