---
import type { ProductShopifySanity } from "../lib/fetches/productShopifySanity";
import SanityMedia from "../fields/SanityMedia.astro";
import { SANITY_DOCUMENT_ROUTE_PATTERNS } from "../../config";

interface Props {
  productData: ProductShopifySanity;
}

const { productData }: Props = Astro.props;
---

<a
  href={SANITY_DOCUMENT_ROUTE_PATTERNS.product.replace(
    "[slug]",
    productData.sanity.shopify!.handle!.current!
  )}
>
  <article class="product-thumbnail">
    <div class="media">
      <SanityMedia
        mediaData={productData.sanity.mediaThumbnail}
        layout="cover"
      />
    </div>
    <h3>{productData.shopify?.title}</h3>
  </article>

  <style>
    .media {
      width: 100%;
      aspect-ratio: 1 / 1;
    }
  </style>
</a>
