---
import type { ProductShopifySanity } from "../lib/fetches/productShopifySanity";
import SanityMedia from "../fields/SanityMedia.astro";
import { SANITY_DOCUMENT_ROUTE_PATTERNS } from "../../config";

interface Props {
  product: ProductShopifySanity;
}

const { product }: Props = Astro.props;
---

<a
  href={SANITY_DOCUMENT_ROUTE_PATTERNS.product.replace(
    "[slug]",
    product.sanity.shopify!.handle!.current!
  )}
>
  <article class="product-thumbnail">
    <div class="media">
      <SanityMedia mediaData={product.sanity.mediaThumbnail} layout="cover" />
    </div>
    <h3>{product.shopify?.title}</h3>
  </article>

  <style>
    .product-thumbnail {
      display: flex;
      flex-direction: column;
      gap: var(--s8);
      text-align: center;
    }

    .media {
      width: 100%;
      aspect-ratio: 1 / 1;
    }
  </style>
</a>
